Repository curiefense/curiefense, changes with the owners that CODEOWNERS names for each.
All owners: @tzuryby, @xavier-rbz, @phil777, @flaper87

CODEOWNERS:

* @tzuryby @xavier-rbz @phil777

/curiefense/curielogger @flaper87
/deploy/curiefense-helm @xavier-rbz

# By language

*.rs @phil777 @flaper87

Apply suggestions from code review
  CONTRIBUTING.md
Owners: @tzuryby, @xavier-rbz, @phil777

Update the CONTRIBUTING guidelines
  CONTRIBUTING.md
Owners: @tzuryby, @xavier-rbz, @phil777

Add workflows for Rust
  .github/workflows/run-curieconf-rust-tests.yml
Owners: @tzuryby, @xavier-rbz, @phil777

Modify logstash's config for the helm chart
  deploy/curiefense-helm/curiefense/charts/curiefense-log/templates/logstash-configmap.yaml
  deploy/curiefense-helm/curiefense/charts/curiefense-log/templates/logstash-deployment.yaml
Owners: @xavier-rbz

Run cargo fmt
  curiefense/iptools/src/avltree.rs
  curiefense/iptools/src/lib.rs
  curiefense/iptools/src/sigset.rs
Owners: @phil777, @flaper87

Use @timestamp instead of timestamp
  curiefense/images/curielogger/init/index_template.json
  curiefense/images/curielogger/init/start_curielogger.sh
Owners: @tzuryby, @xavier-rbz, @phil777

Add config file structure for curielogger
  curiefense/curielogger/curielogger.yml
  curiefense/curielogger/curielogger/config.go
  curiefense/curielogger/curielogger/main.go
  curiefense/curielogger/go.mod
  curiefense/curielogger/go.sum
Owners: @flaper87

Add validation
  curiefense/curielogger/curielogger/config.go
Owners: @flaper87

start_curielogger.sh: style fixes
  curiefense/images/curielogger/init/start_curielogger.sh
Owners: @tzuryby, @xavier-rbz, @phil777

styelint
  curiefense/ui/.stylelintrc.js
  curiefense/ui/package-lock.json
  curiefense/ui/package.json
  curiefense/ui/src/App.vue
  curiefense/ui/src/components/AutocompleteInput.vue
  curiefense/ui/src/components/EntriesRelationList.vue
  curiefense/ui/src/components/GitHistory.vue
  curiefense/ui/src/components/HeaderMain.vue
Owners: @tzuryby, @xavier-rbz, @phil777

helm: make elasticsearch the default deployment type
  deploy/curiefense-helm/curiefense/use-postgres.yaml
  deploy/curiefense-helm/curiefense/values.yaml
Owners: @xavier-rbz

helm: add initialDelaySeconds for logstash deployment
  deploy/curiefense-helm/curiefense/charts/curiefense-log/templates/logstash-deployment.yaml
Owners: @xavier-rbz

curieconf: remove azure requirement
  curiefense/curieconf/utils/setup.py
Owners: @tzuryby, @xavier-rbz, @phil777

helm: do not run curielogserver if elastichsearch is used for logs
  curiefense/images/uiserver/init/http.es.conf
  curiefense/images/uiserver/init/start_nginx.sh
  curiefense/images/uiserver/init/tls-k8s.es.conf
  deploy/curiefense-helm/curiefense/charts/curiefense-admin/templates/uiserver-deployment.yaml
Owners: @tzuryby, @xavier-rbz, @phil777

helm: fix logstash deployment
  deploy/curiefense-helm/curiefense/charts/curiefense-log/templates/logstash-configmap.yaml
  deploy/curiefense-helm/curiefense/charts/curiefense-log/templates/logstash-deployment.yaml
Owners: @xavier-rbz

helm dev environment: expose elasticsearch, fix e2e functional tests
  deploy/curiefense-helm/expose-services.yaml
  e2e/conftest.py
  e2e/test_e2e.py
Owners: @xavier-rbz, @tzuryby, @phil777

helm: increase memory request for logstash to avoid OOM
  deploy/curiefense-helm/curiefense/charts/curiefense-log/templates/logstash-deployment.yaml
Owners: @xavier-rbz

helm: do not use ES datastream with fluentd
  deploy/curiefense-helm/curiefense/charts/curiefense-proxy/templates/curielogger-deployment.yaml
Owners: @xavier-rbz

helm: only deploy curielogserver when logs are stored in postgres
  deploy/curiefense-helm/curiefense/charts/curiefense-admin/templates/curielogserver-deployment.yaml
  deploy/curiefense-helm/curiefense/charts/curiefense-admin/templates/curielogserver-service.yaml
Owners: @xavier-rbz

logstash: use subPath for all config files (avoids duplicating pipelines.yml)
  deploy/curiefense-helm/curiefense/charts/curiefense-log/templates/logstash-deployment.yaml
Owners: @xavier-rbz

helm: support setting a different port for redis
  curiefense/curieproxy/lua/limit.lua
  deploy/curiefense-helm/curiefense/charts/curiefense-proxy/templates/redis-service-headless.yaml
  deploy/curiefense-helm/curiefense/charts/curiefense-proxy/templates/redis-service.yaml
  deploy/curiefense-helm/curiefense/values.yaml
  deploy/istio-helm/chart/charts/gateways/templates/deployment.yaml
  deploy/istio-helm/chart/values.yaml
Owners: @tzuryby, @xavier-rbz, @phil777

avivdev
  curiefense/ui/package-lock.json
  curiefense/ui/package.json
  curiefense/ui/src/components/LimitOption.vue
  curiefense/ui/src/components/ResponseAction.vue
  curiefense/ui/src/doc-editors/FlowControlEditor.vue
  curiefense/ui/src/doc-editors/ProfilingListEditor.vue
  curiefense/ui/src/doc-editors/URLMapsEditor.vue
Owners: @tzuryby, @xavier-rbz, @phil777

lint-fix
  curiefense/ui/src/components/EntriesRelationList.vue
  curiefense/ui/src/components/HeaderMain.vue
  curiefense/ui/src/components/LimitOption.vue
  curiefense/ui/src/components/ResponseAction.vue
  curiefense/ui/src/components/SerializedInput.vue
  curiefense/ui/src/doc-editors/RateLimitsEditor.vue
  curiefense/ui/src/doc-editors/URLMapsEditor.vue
  curiefense/ui/src/doc-editors/WAFEditor.vue
  curiefense/ui/src/doc-editors/WAFSigsEditor.vue
  curiefense/ui/src/types/index.d.ts
  curiefense/ui/src/views/DocumentEditor.vue
Owners: @tzuryby, @xavier-rbz, @phil777

avivedev
  curiefense/ui/src/doc-editors/URLMapsEditor.vue
Owners: @tzuryby, @xavier-rbz, @phil777

avivdev
  curiefense/ui/src/doc-editors/WAFEditor.vue
Owners: @tzuryby, @xavier-rbz, @phil777

avivdev
  curiefense/ui/package-lock.json
  curiefense/ui/package.json
  curiefense/ui/src/assets/__tests__/RequestsUtils.spec.ts
  curiefense/ui/src/components/LimitOption.vue
  curiefense/ui/src/components/ResponseAction.vue
  curiefense/ui/src/components/SideMenu.vue
  curiefense/ui/src/components/TagAutocompleteInput.vue
  curiefense/ui/src/doc-editors/FlowControlEditor.vue
  curiefense/ui/src/doc-editors/RateLimitsEditor.vue
  curiefense/ui/src/doc-editors/URLMapsEditor.vue
  curiefense/ui/src/doc-editors/WAFEditor.vue
  curiefense/ui/src/types/index.d.ts
  curiefense/ui/src/views/DBEditor.vue
  curiefense/ui/src/views/DocumentEditor.vue
  curiefense/ui/src/views/VersionControl.vue
  curiefense/ui/tsconfig.json
  curiefense/ui/vue.config.js
Owners: @tzuryby, @xavier-rbz, @phil777

styelint
  curiefense/ui/.stylelintrc.js
  curiefense/ui/src/assets/styles/main.scss
  curiefense/ui/src/components/AutocompleteInput.vue
  curiefense/ui/src/components/GitHistory.vue
  curiefense/ui/src/components/HeaderMain.vue
  curiefense/ui/src/components/LimitOption.vue
  curiefense/ui/src/components/ResponseAction.vue
  curiefense/ui/src/components/SideMenu.vue
  curiefense/ui/src/components/TagAutocompleteInput.vue
  curiefense/ui/src/doc-editors/ACLEditor.vue
  curiefense/ui/src/doc-editors/FlowControlEditor.vue
  curiefense/ui/src/doc-editors/ProfilingListEditor.vue
  curiefense/ui/src/doc-editors/RateLimitsEditor.vue
  curiefense/ui/src/doc-editors/URLMapsEditor.vue
  curiefense/ui/src/doc-editors/WAFEditor.vue
  curiefense/ui/src/views/AccessLog.vue
  curiefense/ui/src/views/DBEditor.vue
  curiefense/ui/src/views/DocumentEditor.vue
  curiefense/ui/src/views/DocumentSearch.vue
  curiefense/ui/src/views/MasterComponent.vue
  curiefense/ui/src/views/Publish.vue
  curiefense/ui/src/views/VersionControl.vue
Owners: @tzuryby, @xavier-rbz, @phil777

avivdev
  curiefense/ui/.eslintrc.js
  curiefense/ui/.stylelintrc.js
  curiefense/ui/package-lock.json
  curiefense/ui/package.json
  curiefense/ui/src/components/__tests__/EntriesRelationList.spec.ts
  curiefense/ui/src/components/__tests__/GitHistory.spec.ts
  curiefense/ui/src/components/__tests__/TagAutocompleteInput.spec.ts
  curiefense/ui/src/views/__tests__/DBEditor.spec.ts
  curiefense/ui/vue.config.js
Owners: @tzuryby, @xavier-rbz, @phil777

build images on pull requests targeting main
  .github/workflows/curiefense-publish-images.yml
Owners: @tzuryby, @xavier-rbz, @phil777

Fix issues in the UI in preparations for the release
  curiefense/ui/src/components/EntriesRelationList.vue
  curiefense/ui/src/components/ResponseAction.vue
  curiefense/ui/src/components/SideMenu.vue
  curiefense/ui/src/components/TagAutocompleteInput.vue
  curiefense/ui/src/components/__tests__/SideMenu.spec.ts
  curiefense/ui/src/components/__tests__/TagAutocompleteInput.spec.ts
  curiefense/ui/src/doc-editors/ACLEditor.vue
  curiefense/ui/src/doc-editors/FlowControlEditor.vue
  curiefense/ui/src/doc-editors/ProfilingListEditor.vue
  curiefense/ui/src/doc-editors/RateLimitsEditor.vue
  curiefense/ui/src/doc-editors/URLMapsEditor.vue
  curiefense/ui/src/doc-editors/WAFEditor.vue
  curiefense/ui/src/doc-editors/WAFSigsEditor.vue
  curiefense/ui/src/views/DocumentEditor.vue
Owners: @tzuryby, @xavier-rbz, @phil777

Minor changes in preperation for the release
  curiefense/ui/package-lock.json
  curiefense/ui/package.json
  curiefense/ui/src/components/AutocompleteInput.vue
  curiefense/ui/src/components/ResponseAction.vue
  curiefense/ui/src/doc-editors/FlowControlEditor.vue
  curiefense/ui/src/doc-editors/URLMapsEditor.vue
  curiefense/ui/src/views/DocumentEditor.vue
Owners: @tzuryby, @xavier-rbz, @phil777

Improve the consistency of the ui in labels, titles, names, and multiple items input dividers
  curiefense/ui/package-lock.json
  curiefense/ui/package.json
  curiefense/ui/src/components/TagAutocompleteInput.vue
  curiefense/ui/src/doc-editors/URLMapsEditor.vue
  curiefense/ui/src/doc-editors/WAFEditor.vue
  curiefense/ui/src/views/DocumentSearch.vue
  curiefense/ui/src/views/__tests__/DocumentSearch.spec.ts
Owners: @tzuryby, @xavier-rbz, @phil777

add luacheck workflow
  .github/workflows/run-luacheck.yml
Owners: @tzuryby, @xavier-rbz, @phil777

apply shellcheck recommendations for most scripts
  curiefense/images/build-docker-images.sh
  curiefense/images/confserver/bootstrap/initial-bucket-export.sh
  curiefense/images/curielogger/elasticsearch/utils/fetch-convert-split-insert.sh
  curiefense/images/curieproxy-envoy/init/start_curiefense.sh
  curiefense/images/curiesync/init/pull.sh
  deploy/curiefense-helm/deploy.sh
  deploy/deploy-dev.sh
  deploy/deploy-gke.sh
  deploy/istio-helm/deploy.sh
Owners: @tzuryby, @xavier-rbz, @phil777

add shellcheck workflow
  .github/workflows/run-shellcheck.yml
Owners: @tzuryby, @xavier-rbz, @phil777

Add CI job to build and run services
  .github/workflows/e2e-tests.yml
  deploy/curiefense-helm/curiefense/charts/curiefense-admin/templates/confserver-statefulset.yaml
  deploy/curiefense-helm/curiefense/e2e-ci.yaml
  deploy/curiefense-helm/curiefense/use-local-bucket.yaml
  deploy/curiefense-helm/deploy.sh
  deploy/deploy-ci.sh
  deploy/echo-server.yaml
  deploy/istio-helm/chart/charts/gateways/templates/deployment.yaml
  deploy/istio-helm/chart/use-local-bucket.yaml
  deploy/istio-helm/chart/values-istio-ci.yaml
  deploy/istio-helm/deploy.sh
  e2e/test_e2e.py
Owners: @tzuryby, @xavier-rbz, @phil777

Disallow match conflicts for URL Maps
  curiefense/curieconf/server/curieconf/confserver/v1/api.py
  curiefense/ui/package-lock.json
  curiefense/ui/package.json
  curiefense/ui/src/assets/DatasetsUtils.ts
  curiefense/ui/src/assets/Utils.ts
  curiefense/ui/src/assets/__tests__/Utils.spec.ts
  curiefense/ui/src/doc-editors/URLMapsEditor.vue
  curiefense/ui/src/views/DocumentEditor.vue
Owners: @tzuryby, @xavier-rbz, @phil777

Change Policies & Rules to not reset the url path when switching branhes or reverting a document to a previous state
  curiefense/ui/package-lock.json
  curiefense/ui/package.json
  curiefense/ui/src/views/DocumentEditor.vue
  curiefense/ui/src/views/__tests__/DocumentEditor.spec.ts
Owners: @tzuryby, @xavier-rbz, @phil777

helm: use timeout in seconds to preserve helm v2 compatibility
  deploy/curiefense-helm/deploy.sh
  deploy/istio-helm/deploy.sh
Owners: @xavier-rbz, @tzuryby, @phil777

helm: fix elasticsearch permissions (does not start on GKE)
  deploy/curiefense-helm/curiefense/charts/curiefense-log/templates/elasticsearch-statefulset.yaml
Owners: @xavier-rbz
